# Dependencies
node_modules
**/node_modules/
.pnp
.pnp.js

# Build and Production Outputs
dist/
dist-ssr/
build/
out/
*.local

# Environment variables & secrets
.env
.env.*
!.env.example
!.env.template

# Logs & debug info
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Testing & Coverage
coverage/
.nyc_output/

# Caches and Temporary Files
.cache/
.eslintcache
.stylelintcache
.oxlintcache
tmp/
temp/
*.tmp

# IDEs & Code Editors
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swo

# Operating System Files
.DS_Store
.DS_Store?
._*
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
